* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D5E1EF;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container {
    background-color: #FFFF;
    width: 320px;
    height: 499px;
    border-radius: 20px;
    padding: 16px;
}

#qr-code-container {
    background-color: #2C7DFA;
    border-radius: 10px;
    width: 288px;
    height: 288px;
    margin: 0 auto 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4)
}

img {
    border-radius: 10px;
    width: 288px;
    border: 1px solid black;
}

#text-container {
    padding: 0 16px;
    font-family: "Outfit", serif;
    text-align: center;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;
    color: #1F314F;
    margin-bottom: 16px;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #68778D;
}

